<!DOCTYPE html>

{% load staticfiles %} <!--New line-->

<html>

  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...</h1>
    <div>
      this is the about page. <br />
    </div>
    <div>
      <a href={% url 'rango:index' %}>Index</a><br />
      <img src="{% static "images/raoul.jpg" %}"
           alt="Picture of Raoul" /> <br />
      <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
      This tutorial has been put together by Connor <br />
    </div>
    <div>
      <img src="{{ MEDIA_URL }}cat.jpg" %}"
        alt="Picture of Nayna" /> <!--New line -->
    </div>
  </body>

</html>
